<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/9eb162ac0d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/postWrite.css">
  <title>post write</title>
</head>

<body>
  <% include ../header %>

    <div class="postWrite-container">
      <form action="/post/postWrite_process" method="post">
        <div class="post">
          <div class="post-title">
            <input type="text" placeholder="제목을 입력하세요" name="title" class="title">
          </div>
          <div class="post-tags">
            <input type="text" placeholder="태그를 입력하세요" name="hashtag" class="hashtag">
            <!-- <div class="hashtag-inform">
            <span>엔터를 누르면 태그를 입력 할 수 있습니다.<br />
              태그를 클릭하면 삭제 할 수 있습니다.
            </span>
          </div> -->
          </div>

          <div class="post-content">
            <textarea name="text" class="text"></textarea>
          </div>
          <div class="post-buttons">
            <div class="buttons">
              <button class="returnBtn" type="reset" onclick="location.href='/'">돌아가기</button>
              <button class="postBtn" type="submit" onclick=postWrite()>게시하기</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="/javascripts/post/postWrite.js"></script>
</body>

</html>
