<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/post.css">
  <title>header</title>
</head>
<body>
  <header>
    <div class="header-container">
      <div class="header-logo"><a href="/">soyalog</a></div>

      <form action="/post/post_search" method="post" class="search">
        <input type="text" name="search">
        <span class="search-icon">
          <i class="fas fa-search"></i>
        </span>
      </form>

      <% if(!userId) { %>
        <div class="login">
          <button onclick="location.href='/users/login'">로그인</button>
        </div>
      <% } else { %>
        <div class="write">
          <button onclick="location.href='/post/postWrite'">새 글 작성</button>
        </div>
        <div class="login">
          <button class="login-ok">
            <%= userId %>
          </button>
        </div>

        <div class="logout">
          <button onclick="location.href='/users/logout'">로그아웃</button>
        </div>
        <% } %>
    </div>
  </header>
  <script src="/javascripts/header.js"></script>
</body>
</html>