body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.postWrite-container {
  position: relative;
}
.postWrite-container .post {
  height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.post-title input {
  font-size: 3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  margin-bottom: 1rem;
}
.post-title input::placeholder {
  color: darkgray;
  font-style: italic;
}

.post-tags {
  display: flex;
  flex-direction: row;
}

.post-tags input {
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  margin-bottom: 1rem;
}

.post-tags input::placeholder {
  color: lightgray;
  font-style: italic;
}

.hashtag-inform {
  display: none;
  width: fit-content;
  border: 1px solid black;
  padding: 1rem 1.5rem;
  line-height: 1.7rem;
  position: absolute;
  top: 220px;
  background-color: #363636;
  color: white;
}

.post-tags .tag-list li {
  font-size: 1.1rem;
  width: fit-content;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  background-color: rgb(224, 233, 230);
  color: cadetblue;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 0.75rem;
}

.post-tags .tag-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.post-content textarea {
  width: 50vw;
  height: 55vh;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  resize: none;
}

.post-buttons .buttons button {
  margin-right: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #dbdbdb;
  line-height: 1;
}

.post-buttons .buttons button:hover {
  cursor: pointer;
  color: #bdb8b8;
}
