body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post-write-container {
  position: relative;
}
.post-write-container .post {
  height: 90vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-top: 2rem;
}

.write__title input {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  margin-bottom: 1rem;
}
.write__title input::placeholder {
  color: darkgray;
  font-style: italic;
}

.write__tags {
  display: flex;
  flex-direction: row;
}

.write__tags input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  margin-bottom: 1rem;
}

.write__tags input::placeholder {
  color: lightgray;
  font-style: italic;
}

.write__tags .tag__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.write__tags .tag__list li {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: rgb(224, 233, 230);
  color: cadetblue;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 0.75rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

.write__thumbnail {
  margin-bottom: 1rem;
}
.write__text textarea {
  width: 50vw;
  height: 55vh;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  resize: none;
}

.post-buttons button {
  margin-right: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #dbdbdb;
  line-height: 1;
}

.post-buttons .return-btn:hover {
  cursor: pointer;
  color: #bdb8b8;
}
.post-buttons .return-btn:hover {
  cursor: pointer;
  color: #ff0000;
}
